@import "../../index.scss";

.product-container {
  padding: 0 0.5em;
}

.filter-panel {
  font-weight: $fw-medium;
  margin-bottom: 0.8em;
  select {
    margin-right: 0.5rem;
    font-size: 0.95em;
    margin-left: 8px;
    outline: none;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }

  .products-amount {
    font-weight: $fw-medium;
    margin: 0.3em 0;
  }
}

.product-list-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @include mediaMd {
    grid-template-columns: 17% 83%;
  }
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;

  @include mediaMd {
    grid-column-gap: 1em;
    grid-row-gap: 2em;
  }

  @include mediaLg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
